.PlanThumbnail {
    box-sizing: border-box;
    width: 100%;
    height: 94vh;
    display: grid;
    grid-template-rows: 5% 1fr;
    gap: 5px;
}

.FilterArea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,0) 26%, rgba(0,0,0,0.2) 100%);
    padding-top: 10px;
    padding-left: 20px;
}

.searchBox {
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox #searchLabel{
    background-color: var(--color-bg);
    border-radius: 30px;
    padding: 0.3rem 1rem;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.15);
    transition: .25s;
}

.searchBox #searchLabel:hover{
    scale: 1.01;
    transition: .25s;
}

.searchBox #searchLabel #search {
    font-family: Anuphan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 90%;
    justify-self: center;
    background: none ;
    color: var(--color-text);
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 1.3rem;
}
#searchIconPlan{
    color: var(--color-text);
    background-color: var(--color-bg2);
    padding: 0.3rem 0.3rem;
    border-radius: 50%;
    transition: .2s;
}
#searchIconPlan:hover{
    scale: 1.04;
    color: var(--color-blue);
    transition: .2s;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.25);
    cursor: pointer;
}

.BtnZone{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
#FilterBTN{
    font-family: Anuphan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-notSelect);
    color: var(--color-subtext);
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.2rem 1.2rem;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.15);
    transition: .2s;
}

#FilterBTN:hover {
    scale: 1.04;
    transition: .2s;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
}
#FilterBTN.clicked {
    scale: 1.04;
    transition: .2s;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
}

.Thumbnail-scroll{
    overflow: scroll;
    overflow-x: hidden;
    width: 98%;
    height: 86vh;
    margin: 1rem 1rem;
}
.Thumbnail-scroll::-webkit-scrollbar {
    display: none;
}
.Thumbnail {
    margin: 0.2rem 0.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    justify-items: start;
    align-items: start;
    box-sizing: border-box;
    grid-gap: 15px;
}


.ThumbnailElement {
    position: relative;
    width: 99%;
    height: 200px;
    background-color: var(--color-bg);
    border-radius: 20px;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.15);
    transition: .25s;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 80% 20%;
    box-sizing: border-box;
    animation: growUP 1s;
}

.ThumbnailElement:hover {
    scale: 1.01;
    transition: .25s;
}

.grid-Thumbnail {
    width: 98%;
    height: 90%;
    display: grid;
    grid-template-columns: 97% 3%;
}

.Thumbnail-content {
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.Thumbnail-content h2 {
    color: var(--color-blue);
    margin: 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    width: 98%;
    line-height: 1.2em;
    height: 2.4em;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.Thumbnail-content .Date {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.Thumbnail-where {
    margin-top: 0.1rem;
    color: var(--color-subtext);
}

.Plan-setting{
    width: 100%;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    position: relative;
}

#settingPlan-btn{
    color: var(--color-subtext);
}

#settingPlan-btn:hover {
    color: var(--color-blue);
}

.Plan-setting-popUp{
    background-color: var(--color-bg);
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.65);
    padding: 0.7rem 0.7rem;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 130px;
    right: 0px;
    top: 18px;
}

.setting-popUp-content{
    width: 100%;
    background-color: var(--color-bg);
    border: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-items: center;
    padding: 0.7rem 0.5rem;
    border-radius: 15px;
    transition: .1s;
}

.setting-popUp-content p {
    color: var(--color-text);
    margin: 0 0;
    font-size: 1rem;
}

#faPencil {
    color: var(--color-subtext);
    transition: .1s;
}

.setting-popUp-content:hover #faPencil {
    color: var(--color-orange);
    transition: .1s;
    scale: 1.2;
}

#faTrash {
    color: var(--color-subtext);
    transition: .1s;
}

.setting-popUp-content:hover #faTrash {
    color: var(--color-red);
    transition: .1s;
    scale: 1.2;
}

.setting-popUp-content:hover {
    background-color: var(--color-hoverBox);
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    transition: .1s;
    cursor: pointer;
}

.goToPlan{
    width: 95%;
    height: 100%;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

#seePlan {
    font-family: Anuphan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-lightblue);
    margin: 0 0;
    height: max-content;
    outline: none;
    border: none;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .2s;
    padding: 0.3rem 2rem;
}

#seePlan:hover {
    scale: 1.05;
    transition: .2s;
    background-color: var(--color-blue);
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    cursor: pointer;
}
.Delete-Pop-UP {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Delete-Pop-UP p {
    margin: 0 0;
    color: var(--color-blue);
    font-weight: 500;
    font-size: 1.4rem;
}
.Delete-Pop-UP button{
    border: none;
    margin: 0.5rem 0.5rem;
    padding: 0.3rem 3rem;
    font-size: 1.5rem;
    border-radius: 30px;
    transition: .1s;
}
.Delete-Pop-UP button:hover {
    scale: 1.03;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    transition: .1s;
}

.Delete-Yes{
    background-color: var(--color-green);
}
.Delete-No{
    background-color: var(--color-red);
}