:root{
    /* Color list */
    --color-bg : #FFFFFF;
    --color-bg2 : #F9F9F9;
    --color-notSelect : #eaeaeae8;
    --color-hoverBox : #F1F1F1;
    --color-blue : #2E6FED;
    --color-lightblue : #56BFEB;
    --color-orange : #f4ac4e;
    --color-green : #62D13B;
    --color-red : #EC4D4D;
    --color-input : #fcfcfcd4;

    --color-text : #030231;
    --color-subtext : #9C9C9C;

    /* Font Size */
}

@keyframes pulse {
    0% {
        background-color: rgb(171, 171, 171);
    }
    60% {
        background-color: rgb(199, 198, 198);
    }
    100% {
        background-color: rgb(171, 171, 171);
    }
}

@keyframes growUP {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}