.CreatePlan-content {
    color: var(--color-text);
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: 28% 1fr;
    z-index: -6;
    box-sizing: border-box;
}
.CreatePlan-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/images/bangkok-map.png");
    opacity: 30%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -3;
}

.CreatePlan-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.061);
    z-index: -2;
}