
.loginflex {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.loginflex h1 {
    font-size: 7.5rem;
    color: var(--color-blue);
    font-weight: 600;
    margin-right: 3rem;
    transform: translateY(-50px);
}
.loginflex::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/images/bangkok-map.png");
    opacity: 50%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.loginflex::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.037);
    z-index: -1;
}
