.mainPage {
    color: var(--color-text);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 1fr;
    z-index: -6;
}
.mainPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/images/bangkok-map.png");
    opacity: 30%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -3;
}

.mainPage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.061);
    z-index: -2;
}

.sideBar {
    background-color: rgba(255, 255, 255, 0.199);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    box-shadow: 0.1rem 0rem 1rem rgba(37, 19, 1, 0.15);
    z-index: 0;
    display: grid;
    grid-template-rows: 30% 70%;
}

.personalInfo{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70% 10% 10% 10%;
    justify-items: center;
    align-items: center;
    box-shadow: 0rem 0.2rem 0.2rem rgba(37, 19, 1, 0.05);
}

.personalInfo img {
    /* width: 40%; */
    height: 80%;
    border-radius: 50%;
    align-self: flex-end;
}
.personalInfo h4 {
    margin: 0 0;
    font-size: 2rem;
    font-weight: 500;
}
.personalInfo p {
    margin: 0 0;
    font-size: 1rem;
}

/* ===================================
======================================
======================================
====================================== */
.ComingPlan {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ComingPlan p{
    margin: 0.3rem 1rem;
    align-self: start;
}
.Thumbnail-container {
    margin: 0 0;
    width: 100%;
    height: 100%;
}