.Map-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    outline: none;
}

.SearchArea{
    position: absolute;
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,0) 26%, rgba(0,0,0,0.2) 100%);
    padding-top: 10px;
    padding-left: 20px;
    z-index: 8;
}

.google-searchBox {
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-searchBox #google-searchLabel{
    background-color: var(--color-bg2);
    border-radius: 30px;
    padding: 0.1rem 1rem;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.15);
    transition: .25s;
}

.google-searchBox #google-searchLabel:hover{
    scale: 1.01;
    transition: .25s;
    background-color: var(--color-bg);
}

.google-searchBox #google-searchLabel #googleSearch {
    font-family: Anuphan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    justify-self: center;
    background: none ;
    color: var(--color-text);
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
}

.FilterBTN-class{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.GoogleFilterBTN{
    font-family: Anuphan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-notSelect);
    color: var(--color-subtext);
    outline: none;
    border: none;
    filter: grayscale(80%);
    opacity: 60%;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.2rem 1.2rem;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.15);
    transition: .2s;
}

.GoogleFilterBTN:hover {
    opacity: 100%;
    filter: grayscale(0%);
    scale: 1.04;
    transition: .2s;
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.35);
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
}

.Information{
    position: absolute;
    z-index: 6;
    top: 70px;
    right: 10px;
    width: 350px;
    height: 80vh;
    background-color: var(--color-bg);
    box-shadow: 0 0rem 0.5rem rgba(37, 19, 1, 0.90);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 30% auto 1fr auto;
    box-sizing: border-box;
}
.img-contain{
    width: 100%;
    height: 100%;
}
.Information-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.close-Information{
    position: absolute;
    z-index: 7;
    top: 10px;
    right: 10px;
    background-color: var(--color-bg);
    box-shadow: 0 0rem 0.4rem rgba(37, 19, 1, 0.25);
    border-radius: 50%;
    border: none;
    padding: 0.3rem 0.3rem;
}
#faXmark {
    color: var(--color-text);
    width: 25px;
    height: 25px;
}
.close-Information:hover {
    scale: 1.05;
}
.InformationName-contain{
    width: 100%;
    height: 100%;
    box-shadow: 0 .1rem 0.2rem rgba(37, 19, 1, 0.25);
}
.InformationName{
    font-size: 1.4rem;
    font-weight: 600;
    width: 92%;
    padding: 0.5rem 4%;
    margin: 0 0;
}
.AddPlaceInfo-contain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -0.1rem 0.1rem rgba(37, 19, 1, 0.25);
    border-radius: 0 0 15px 15px;
}
.AddPlaceInfo{
    background: var(--color-blue);
    width: 80%;
    height: max-content;
    padding: 0.4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    border: none;
    transition: .1s;
    margin: 0.5rem 0;
}
#faPlus{
    width: 18px;
    height: 18px;
}
.AddPlaceInfo p {
    margin: 0 0;
    font-size: 1rem;
    font-weight: 500;
}
.AddPlaceInfo:hover{
    scale: 1.04;
    box-shadow: 0 0rem 0.1rem rgba(0, 0, 0, 0.25);
    transition: .1s;
}

.Information-Detail-contain {
    overflow: scroll;
    overflow-x: hidden;
}
.Information-Detail-contain::-webkit-scrollbar {
    display: none;
}

.example-detail{
    height: 600px;
    background-color: rgb(183, 183, 216);
}